@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}

/* font-family */
* {
  font-family: serif;
}

/* container */
.container {
  border-top: 10px solid #7EC48D;
}

/*=================================
  Header styling starts here
=================================*/

header {
  background-color: #2B0305;
}

header .wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
  padding: 50px 0;
}

.header-text {
  width: 15%;
  display: inline-block;
}
.header-text a{
  text-transform: capitalize;
  color: #fff;
  font-size: 30px;
  display: block;
}

header span {
  color: #fff;
  font-size: 10px;
}

.nav-section {
  width: 60%;
  float: right;
}

.nav-section li {
  text-transform: uppercase;
  margin-left: 4%;
}

.nav-section li a {
  color: #fff;
}

.nav-section li a.active {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #7EC48D;
  transition: 0.3s;
}

.nav-section li a:hover {
  padding: 10px 15px;
  background-color: #7EC48D;
  transition: 0.3s;
  border-radius: 10px;
}



/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

main .slider {
  background-color: #2B0305;

}

.slider-division {
  width: 38%;
  display: inline-block;
  vertical-align: top;
  margin-top: 73px;
  margin-left: 8%;
}

.slider-heading {
  color: #fff;
  font-size: 60px;
  margin-bottom: 35px;
  font-weight: bold;
}

.slider-heading::first-letter {
  text-transform: capitalize;
}

.slider-text {
  color: #808080;
  font-size: 18px;
  margin-bottom: 25px;
}

.slider-division a {
  padding: 10px 30px;
  background-color: #7EC48D;
  color: #fff;
  text-transform: capitalize;
  font-size: 22px;
  border-radius: 20px;
  width: 42%;
}

.slider-division a img {
  width: 24%;
  float: right;
}

.slider figure {
  width: 36%;
  display: inline-block;
  vertical-align: top;
  margin-left: 5%;
}

.slider figure img {

  height: 480px;
  border-radius: 50%;
  border: 30px solid #363636;
}

.slider .wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
  position: relative;
  padding: 30px 0;
}

.previous-button {
  position: absolute;
  left: 0;
  top: 215px;
  font-weight: bold;
  font-size: 40px;
  color: #99ffbb; 
  transition: 0.3s;
}

.next-button {
  position: absolute;
  right: 0;
  top: 215px;
  font-weight: bold;
  font-size: 40px;
  color: #99ffbb;
  transition: 0.3s;
}

.section-part {
  background-color: #61080B;
  width: 100%;
}

.section-part .wrapper {
  max-width: 1360px;
    width: 86%;
    margin: 0 auto;
    padding: 70px 0;
}

.service-section {
  display: flex;
}

.service-section li {
  background-color: #fff;
  width: 23%;
  padding: 20px;
  margin-left: calc(2% - 5px);
}

.service-section li.active {
  background-color: #7EC48D;
  color: #fff;
}

.service-section li.active p {
  color: #fff;
}

.service-section li:first-child {
  margin-left: 0;
}

.service-section figure {
  width: 50%;
  margin: 0 auto;
}

.service-section figure img {
  height: 140px;
  width: 100%;
}

.service-division {
  width: 97%;
  text-align: center;
  box-sizing: border-box;
  padding: 15px 0;
  margin: 0 auto;
}

.service-division h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 30px;
}

.service-division p {
  color: #808080;
}

.work-section {text-align: center;}

.work-section span{
  color: #fff;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  border-radius: 10px;
  background-color: #7EC48D;
  text-transform: uppercase;
  width: 20%;
  text-align: center;
  font-size: 25px;
  position: relative;
  margin-bottom: 50px;
}

.work-section::before {
  content: " ";
  width: 39%;
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  background-color: #000;
  left: 0;
  margin-top: 8px;
}

.work-section::after {
  content: " ";
  width: 39%;
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  background-color: #000;
  right: 0;
  margin-top: 8px;
}

.work-ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.work-ul li {
  width: 30%;
  margin-left: calc(4% - 5px);
  position: relative;
  margin-bottom: 30px;
  border: 5px solid #fff;
}

.work-ul li figure {
  border-radius: 2px solid #fff; 
}

.work-ul li:nth-child(3n - 2) {
  margin-left: 0;
}

.work-text {
  text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: 0;
    background-color: #1c1c1c;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}



/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  background-color: #333333;
}

.footer-top .wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
}

.footer-top {
  border-bottom: 2px solid #000;
}

.footer-heading {
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 40px;
  font-size: 20px;
}

.footer-div-1 {
  width: 24%;
  display: inline-block;
  vertical-align: top;
}

.footer-div-1 span {
  display: block;
}
.footer-top ul {
  width: 24%;
  display: inline-block;
  vertical-align: top;
  margin-left: 2%;
}

.footer-text {
  color: #7EC48D;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.footer-text small {
  color: #b3b3b3;
  text-transform: lowercase;
}

.footer-ldiv-3 {
  width: 24%;
  display: inline-block;
  vertical-align: top;
  margin-left: 2%;
}

.footer-link {
  color: #7EC48D;
}

.footer-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #99ffbb;
  display: inline-block;
  margin-bottom: 2px;
}

.footer-ldiv-3 p {
  margin-bottom: 40px;
  color: #808080;
  margin-bottom: 20px;
}

.footer-tweet {
  color: #7EC48D;
}

.footer-div-4 {
  width: 24%;
  display: inline-block;
  vertical-align: top;
  margin-left: 2%;
}

.footer-para {
  color: #808080;
  margin-bottom: 10px;
}

input, textarea {
  width: 63%;
  background-color: #404040;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 8px 40px;
  font-size: 15px;
  border: 1px #404040;
}

button {
  background-color: #99ffbb;
  padding: 10px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
}

.footer-bottom .wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
  padding: 30px 0;
}

.footer-bottom p {
  text-transform: capitalize;
  color: #808080;
  font-size: 18px; 
  display: inline-block;
}

.footer-bottom span {
  color: #808080;
  font-size: 18px;
  float: right;

}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  